<template name="footer">
    <footer id="contact" class="page-footer">
            <div class="row" style="margin-bottom: 1px;">
                <div class="col l6 s12">
                    <br>
                    <div class="map-container">
                        {{> googleMap name="exampleMap" options=exampleMapOptions}}
                    </div><br>
                </div>
                <div class="col l3 s12">
                    <h5 class="white-text">Хаяг:</h5>
                    <p class="white-text" style="text-align: justify">
                        Салбар 1: УБ, СХД, 4-р хороо, Алтан тариа ХК-ийн баруун урд "HOUSE CENTER"
                    </p>
                    <h5 class="white-text">e-mail:</h5>
                    <p class="white-text">
                        contact@donj-house.mn<br>donjhouse1@gmail.com
                    </p>
                    <h5 class="white-text">Утас:</h5>
                    <p class="white-text">
                        +7018-0313<br>+9698-9999<br>+9605-0333
                    </p>
                    <a href="/faq"><i class="small material-icons white-text">question_answer</i><h6 class="white-text">Түгээсэл асуулт, хариултууд үзэх бол энд дарна уу.</h6></a>
                </div>
                <div class="col l3 s12">
                    <h5 class="white-text">Social</h5>
                    <ul>
                        <li>
                            <a class="white-text" href="https://www.facebook.com/AminiiSuuts/">
                                <i class="small fa fa-facebook-square white-text"></i> Facebook
                            </a>
                        </li>
                        <li>
                            <a class="white-text" href="https://www.linkedin.com/">
                                <i class="small fa fa-linkedin-square white-text"></i> Linkedin
                            </a>
                        </li>
                    </ul>
                </div><br><br><br>
                <div class="col l3 s12">
                    <a class="btn waves-effect waves-light" href="/career">Ажлын байр</a>
                </div><br>
                <div class="col l3 s12">
                    {{> blogLatest num=5}}
                </div>
            </div>
    </footer>
</template>

<template name="notFound">
    <h1>Тийм хуудас байхгүй</h1>
    <p>Нүүр хуудас руу {{#linkTo route='root'}}буцах{{/linkTo}}</p>
</template>