<template name="nav">
    <div class="navbar-fixed">
        <nav id="nav_f" class="default_color" role="navigation">
            <div class="nav-wrapper">
                <a href="/" class="brand-logo"><img src="http://www.donj-house.mn/ProjectImage/Logo.png" height="50"></a>
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>

                <ul class="right hide-on-med-and-down">
                    {{#if currentUser}}
                        <li><a>{{> loginButtons}}</a></li>
                    {{/if}}


                    <li><a class="waves-effect waves-block waves-light" href="/howitworks">Хэрхэн ажиллах вэ?</a></li>
                    <li><a class="waves-effect waves-block waves-light" href="/homeplans">Home Plans</a></li>

                    <ul id="dropdown1" class="dropdown-content">
                        <li><a href="/service/1">Биседки</a></li>
                        <li><a href="/service/2">Бассейн</a></li>
                        <li><a href="/service/3">Модон доторлогоо</a></li>
                        <li><a href="/service/4">Гадна тохижилт</a></li>
                        <li><a href="/service/5">Гүний худаг</a></li>
                        <li><a href="/service/6">Модон тавилга</a></li>
                        <li><a href="/service/7">Барилгын материал</a></li>
                    </ul>

                    <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Үйлчилгээ<i class="material-icons right">arrow_drop_down</i></a></li>
                    <li><a class="waves-effect waves-block waves-light" href="/blog">BLOG</a></li>
                    <li><a class="waves-effect waves-block waves-light" href="/contact">Холбоо барих</a></li>
                </ul>
                <ul class="side-nav" id="mobile-demo">
                    {{#if currentUser}}
                        <li><a>{{> loginButtons}}</a></li>
                    {{else}}

                    {{/if}}


                    <li><a href="/howitworks">Хэрхэн ажиллах вэ?</a></li>
                    <li><a href="/homeplans">Home Plans</a></li>

                    <!--<ul id="dropdown1" class="dropdown-content">-->
                    <!--<li><a href="/service/1">Биседки</a></li>-->
                    <!--<li><a href="/service/2">Бассейн</a></li>-->
                    <!--<li><a href="/service/3">Модон доторлогоо</a></li>-->
                    <!--<li><a href="/service/4">Гадна тохижилт</a></li>-->
                    <!--<li><a href="/service/5">Гүний худаг</a></li>-->
                    <!--<li><a href="/service/6">Модон тавилга</a></li>-->
                    <!--<li><a href="/service/7">Барилгын материал</a></li>-->
                    <!--</ul>-->

                    <!--<li><a class="dropdown-button" href="#!" data-activates="dropdown1">Үйлчилгээ<i class="material-icons right">arrow_drop_down</i></a></li>-->
                    <li><a href="/blog">BLOG</a></li>
                    <li><a href="/contact">Холбоо барих</a></li>
                </ul>
            </div>
        </nav>
    </div>
</template>